# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
recordings/
.vercel/
*.wav
*.mp3
*.m4a
*.flac
*.ogg

# Keep model file
!final_best_mobilenetv4_conv_blur_medium_res2tsm_tb_classifier.pth
